@import "./variable";
@import "./mixin";

.manueBar {
  @include nabBar(
    $n_item_pl: 0,
    $f_Ty_prompt: (
      $mnueBar_font,
      #000,
      500
    )
  );

  .Categories {
  & > div {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

    h3 {
      @include font_typhoraphy($navbar_srvc_font,#fff);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $prime_clr;
      text-shadow: 0px 0px 1px #fff;
      border-radius: 5px;
      padding: 5px 10px;

      div {
        i{
          color: $prime_clr;
          background: #fff;
          padding: 2px 2px 1px;
          border-radius: 100%;
        }
      }
    }
   }

   ul{
    display: inline-block;

    li {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
   } 
  }
}
