@import "./Mixin";
@import "./variable";

.navbar-nav {
  .dropdown {
    position: relative;
    padding-right: 15px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      .all_flag {
        // currency flag
        position: relative;
        width: 18px;
        height: 18px;

        svg {
          position: absolute;
          width: 100%;
          height: auto;
        }
        .active {
          z-index: 1;
        }
      }

      p {
        // currency
        margin: 0 5px;
      }

      p ~ svg {
        // down arrow
        width: 0.6rem;
        height: auto;
        transition: all 0.2s ease-in-out;
      }
    }

    .dropdown_item {
      // dropdown box
      position: absolute;
      width: 200%;

      ul {
        padding: 12px 20px;
        border-radius: 8px;
        box-shadow: $box_swdo;

        li {
          list-style: none;
          a {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 8px 0 !important;

            svg {
              width: 13%;
              height: auto;
            }
            p {
              @include font_typhography(
                $f_size: 13px,
                $f_clr: $drpdn_font_clr,
                $mr: 0 0 0 5px
              );
            }
          }

          &:hover p {
            color: $hvr_clr;
          }
        }

        hr {
          margin: 0;
          width: 100%;
          color: $line_clr;
        }
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: $line_clr;
    }
  }
  .nav-item {
    transition: all 0.2s ease-out;

    .nav-link {
      @include font_typhography($f_size: 13px);
    }

    &:hover .nav-link {
      color: $hvr_clr;
    }

    &:nth-child(2) {
      // target second li item
      padding-left: 15px;
    }
  }
}
