@import "./variable";

.notificationBar {
  background: $bg_clr;

  .nav-item {
    position: relative;
    padding-left: 5px;

    .nav-link {
      @include font_typhoraphy();
      transition: all 0.3s linear;

      span {
        background: #fff;
        padding: 0px 5px;
        border-radius: 100%;
        color: $prime_clr;
      }
    }

    &:hover .nav-link {
      color: $prime_clr;
    }

    &::before {
      @include separateLine();
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
  }

  .dropdown {
    button {
    }

    ul {
      @include border(all-side);

      &::before {
        content: "";
        position: absolute;
        top: -8%;
        right: 10px;
        width: 15px;
        height: 15px;
        background-color: #fff;
        @include border(left);
        @include border(bottom);
        transform: translateY(-5%) rotate(135deg);
        padding: 0;
        margin: 0;
      }

      li {
        a {
          @include font_typhoraphy();
        }
        &:hover a {
          background: transparent;
          color: $prime_clr;
        }
      }
    }
  }
}
