$prime_clr : #e76453;
$font_clr : #777;
$line_clr: #cbcbcb;
$font_clr_light: #8b8b8bde;
$bg_clr : linear-gradient(to bottom,#f5f5f5 0,#d8d7d3 100%);
$navbar_clr :  #eeeeec;
$border_clr : #e5e5e5;
$green : #c2d82e;


// font
$notification_font:13px;
$navbar_font:12px;
$navbar_srvc_font:16px;
$mnueBar_font:15px;
